@font-face {
    /* See Gidole_Font_License.txt for the License of this font */
    font-family: 'GidoleRegular';
    src: url('./Gidole-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fffff0;
    color: #464655;
    font-family: 'GidoleRegular';
}

#navbar {
    background-color: #464655;
    color: #ffffff;
    text-align: center;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em 1.2em 0.3em 1.2em;
    border-radius: 0.65em 0.65em 0.65em 0.65em;
}

#headline1 {
    background-image: linear-gradient(90deg, #db7f67, #d34f73);
    color: #ffffff;
    text-align: center;
    font-size: 4em;
    width: calc(100% + 0.33em);
    margin-top: -0.45em;
    margin-left: -0.2em;
    margin-right: -0.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 0.25em #464655 solid;
}

#headline1-2 {
    background-image: linear-gradient(90deg, #db7f67, #d34f73);
    color: #ffffff;
    text-align: center;
    font-size: 4em;
    width: calc(100% + 0.33em);
    margin-top: -0.45em;
    margin-left: -0.2em;
    margin-right: -0.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.25em #464655 solid;
}


#headline2 {
    text-align: center;
    font-size: 3em;
}

#headline3-rec {
    text-align: center;
    background-color: #d9502e;
    color: #ffffff;
    width: 40%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em 0.3em 0.3em 0.3em;
    border-bottom: 0.3em #aaaaaa solid;
    border-radius: 0.6em 0.6em 0em 0em;
    font-size: 1.18em;
}

#headline3-src {
    text-align: center;
    background-color: #0e7c7b;
    color: #ffffff;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.3em 0.3em 0.3em 0.3em;
    border-bottom: 0.3em #aaaaaa solid;
    border-radius: 0.6em 0.6em 0em 0em;
    font-size: 1.18em;
}

#a {
    margin-top: -1.18em;
    background-color: #d0d0d0;
    text-align: center;
    font-size: 1.05em;
    width: 40%;
    margin-left: auto;
    border-radius: 0em 0em 0.6em 0.6em;
    margin-right: auto;
    padding: 0.3em 0.3em 0.3em 0.3em;
}

#b {
    text-align: justify;
    font-size: 1.29em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #00ada6;
    padding: 0em 0.1em 0em 0.1em;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #9999ad;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    padding: 0em 0.1em 0em 0.1em;
}
